
.post-filter {
    margin: 30px auto;
    
  }
  .post-filter nav {
    display: flex;
    padding: 10px;
    background-color: rgb(217, 217, 217);
    border-radius: 4px;
  }
  .post-filter p {
    font-size: 0.9em;
    margin-right: 10px;
  }
  .post-filter button {
    background: var(--heading-color);
    padding: 0 0.25rem;
    border: 0;
    font-family: inherit;
    font-weight: bold;
    color: var(--primary-color);
    cursor: pointer;
    border-right: 1px solid #d6d6d6;
    font-size: 0.9em;
  }
  .post-filter button:last-child {
    border: 0;
  }
  .post-filter button.active {
    color: var(--primary-color);
  } 

  
  @media screen and (max-width: 768px) {

    .dashboard {
      margin-top: 100px;
    }

    .post-filter {
      max-width: 90%;
      margin: 30px 0;
    }
    
    .post-filter nav {
      display: flex;
      width: fit-content;
      padding: 0;
      font-weight: 100;
      background-color: rgb(217, 217, 217);
      border-radius: 4px;
    }

    .post-filter button {
      background: var(--heading-color);
      padding: 0 0.2rem;
      margin-right: 0.1rem;
      border: 0;
      font-family: inherit;
      font-weight: 100;
      color: var(--primary-color);
      cursor: pointer;
      border-right: 1px solid #e4e4e4;
      font-size: 0.8rem;
    }
  }